
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="menu">
    <div id="home" class="directions">
        <a href="/">Home</a>
    </div>
    <div id="signup" class="directions">
        <a href="sign_up/">SignUp</a>
    </div>
    <div id="shop" class="directions">
        <a href="shop/">Tienda</a>
    </div>
    <div id="lol" class="directions">
        <a href="koi_lol/">League of Legends</a>
    </div>
</div>

<div id="navegacion">
    <h1>Lista de cosas</h1>
    <ul>
        <li><a href="sign_up/">Mostrar test</a></li>
        <li><a href="forum/">Ir a donde esta el formulario</a></li>
    </ul>
</div>



{% endblock %}