
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div>
    <div id="left-menu">
        <a href="/">
            <div class="sub-menus">
                
                <div class="menu-photo">
                    <img src="static\images\logo_inicio.svg" alt="Cagaste">
                </div>
                <div class="menu-text">
                    Inicio
                </div>
            </div>
        </a>
        <a href="sign_up/">   
            <div class="sub-menus">
                <div class="menu-photo">

                </div>
                <div class="menu-text">
                    Sign Up
                </div>
            </div>
        </a>
        <a href="profile/{{cookie}}">
            <div class="sub-menus">
                
                <div class="menu-photo">
                        <img src="static\images\profie-none.svg" alt="Cague">
                </div>
                <div class="menu-text">
                    Profile
                </div>
            </div>
        </a>
        <a href="settings">
            <div class="sub-menus">
                <div class="menu-photo">
                        
                </div>
                <div class="menu-text">
                    Settings
                </div>
            </div>
        </a>
    </div>
    <div id="message-box">
        <form id="form-message" method="post">
            {% csrf_token %}
            <div class="to-text" placeholder="Speak to the World..." contenteditable="true"></div>
            <textarea id="to-pass" style="display: none;"></textarea>
            <input type="submit" id="send">
        </form>
    </div>
    <div class="user-status">
        <div id="profile-picture">
            <img src={{picture}} width="100%" height="100%">
        </div>
        {% if loged == False %}
        <div id="not-logged">
            <div id="text-not-logged">
                <a href="sign_up">Click Here to Log In</a>
            </div>
        </div>
        {% else %}
        <div id="logged">
            <div class="user-data">
                User Name: {{user_name}}
            </div>
            <div class="user-data">
                Followers: {{followers}}
            </div>
            <div class="user-data">
                Total Likes: {{total_likes}}
            </div>
        </div>
        {% endif %}
    </div>
</div>



{% endblock %}