
body {
    background-color: blueviolet;
}

.menu {
    background-color: black;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0%;
    padding-left: 20px;
}

.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: grey;
}

.menu div {
  margin-left: 1000px;
  height: 48px;
  background-color: white;
}

.menu div a {
  color: black;
}